# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/

# Logs
*.log
logs/
logs-temp/

# Backups
data/backups/
data/backups-temp/
data/cities_backup_*.csv
data/backup_*.csv

# Pyinstaller
dist/
build/
*.spec
*.exe
